.contact {
  margin: 100px auto;
  border-radius: 20px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(64, 58, 95),
    rgb(33, 30, 46) 100%
  );
  padding: 60px 0 30px;
  background-image: url(../assets/img/body-bg.png);
  background-position: 100% 100%;
  @media screen and (max-width: 678px) {
    margin: 40px auto;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width: 678px) {
      width: 100%;
    }
  }
  &__col {
    width: 100%;
    padding: 0px 20px;
    @media screen and (max-width: 678px) {
      padding: 0;
    }
  }
}
