.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.mx {
  margin: 0 30px;
}
.mt-10 {
  margin-top: 10px;
}
.pt-0 {
  padding-top: 0 !important;
}

.mt-50 {
  margin-top: 50px;
  @media screen and (max-height:"420px") {
   margin-top: 15px;
  }
  @media screen and (max-width: "480px") {
    margin-top: 25px;
  }
}

.mt-100 {
  margin-top: 100px;
  @media screen and (max-width: "480px") {
    margin-top: 50px;
  }
}

.mt-30 {
  margin-top: 30px;
  @media screen and (max-width: "480px") {
    margin-top: 15px;
  }
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.title {
  background: linear-gradient(
    45deg,
    rgb(192, 183, 232),
    rgb(129, 118, 175),
    rgb(217, 217, 217)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  @media screen and (max-width: "768px") {
    font-size: 40px;
  }
  @media screen and (max-width: "678px") {
    font-size: 35px;
    line-height: 40px;
  }
  @media screen and (max-width: "480px") {
    font-size: 30px;
    line-height: 35px;
  }
  // background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
}

.sub-title {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
  @media screen and (max-width: "768px") {
    font-size: 30px;
  }
  @media screen and (max-width: "678px") {
    font-size: 27px;
  }
  @media screen and (max-width: "480px") {
    font-size: 24px;
  }
}

.text-light {
  color: rgb(198, 198, 198);
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 25px;
}
.text-center {
  text-align: center;
}
.btn-info {
  display: inline-block;
  color: rgb(52, 48, 69);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 40px;
  border: 0;
  outline: none;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(129, 118, 175),
    rgb(192, 183, 232) 100%
  );
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: "480px") {
    padding: 10px 20px;
    font-weight: 500;
  }
}

.btn-info:hover {
  opacity: 0.8 !important;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2) !important;
}
.ant-input::placeholder {
  color: rgb(129, 118, 175) !important;
  opacity: 0.8 !important;
}
.ant-input {
  height: 40px;

  background: #302c42 !important;
  color: rgb(255, 251, 251) !important;
  border-color: rgb(129, 118, 175) !important;
  font-weight: 700 !important;
}

.ant-select-selector {
  height: 40px !important; /* Select balandligini majburlash */
  display: flex;
  align-items: center; /* Vertikal markazlash */
  background: none !important;
  color: rgb(157, 157, 157) !important;
  border-color: rgb(129, 118, 175) !important;
}

.ant-input-group-addon {
  height: 40px; /* Addon (prefiks) balandligi */
  display: flex;
  align-items: center;
  background: none !important;
  color: rgb(32, 139, 226) !important;
  border-color: rgb(129, 118, 175) !important;
  font-weight: 700 !important;
}
button:focus,
a:focus {
  outline: none; /* Fokus borderini olib tashlaydi */
  -webkit-tap-highlight-color: transparent;
}

button:active,
a:active {
  outline: none; /* Fokus borderini olib tashlaydi */
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: "1300px") {
  .slick-prev {
    left: 15px; /* Chap tugma o'rnini sozlash */
    z-index: 8;
  }

  .slick-next {
    right: 15px; /* O'ng tugma o'rnini sozlash */
    z-index: 8;
  }
}
